.cover {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5em;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  margin: 0 -2.5rem 2rem -12rem;
  .word {
    display: contents;
  }
  .letter {
    background: black;
    color: #fcfcfc;
    font-size: 3em;
    font-weight: 900;
    padding: .5em 0;
    text-align: center;
    text-transform: uppercase;
  }
  .book .letter {
    grid-row: 2;
  }
  .book-1 {
    grid-column: 2;
  }
  .book-2 {
    grid-column: 3;
  }
  .book-3 {
    grid-column: 4;
  }
  .book-4 {
    grid-column: 5;
  }
  .byline {
    grid-row: 2;
    grid-column: 1;
    background: black;
    color: #fcfcfc;
    padding: 1em;
    font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .author {
    font-weight: bold;
  }
  .letter, .byline {
    cursor: default;
  }
}
